*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
body{
  font-family: calibri;
  //background: rgba(22, 45, 23, 0.5);
}
.container{
  background:	#f5f5dc;
  width: 400px;
  margin: auto;
  text-align: center;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px ridge #d02090;
  border-radius: 40px 0;
}
img{
  width: 180px;
  height: 200px;
  margin: auto;
  border: 3px ridge #d02090;
  border-radius: 40px 0;
  padding: 5px;
}
h1{
  font-weight: 400;
  color:#cd5c5c;
  letter-spacing: 3px;
  margin-top: 10px;
}
h3{
  font-weight: 200;
  border-bottom: 3px solid green;
  display: inline-block;
  padding-bottom: 5px;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-size: 22px;
}
p{
  font-size: 18px;
  text-align: justify;
  color: #8b3a62;
  letter-spacing: 1px;
  margin: 15px 0;
}
hr{
  width: 50%;
  border: 1px inset green;
  margin: 15px auto;
}
.socail-icon{
  overflow: hidden;
}
.socail-icon ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.socail-icon ul li{
  display: inline-block;
}
.socail-icon ul li a{
  text-decoration: none;
  font-size: 35px;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin: 0 10px;
  transition: 0.5s all;
}
.socail-icon ul li .fb{
  color: #4862a3;
}
.socail-icon ul li .fb:hover{
  background: #4862a3;
  color: #fff;
  border-radius: 50%;
}
.socail-icon ul li .ins{
  color: #FA7226;
}
.socail-icon ul li .ins:hover{
  background: #FA7226;
  color: #fff;
  border-radius: 50%;
}
.socail-icon ul li .tw{
  color: #00aff0;
}
.socail-icon ul li .tw:hover{
  background: #00aff0;
  color: #fff;
  border-radius: 50%;
}
.socail-icon ul li .go{
  color: #4285F4;
}
.socail-icon ul li .go:hover{
  background:#4285F4;
  color: #fff;
  border-radius: 50%;
}
